<launch>
  <arg name="robot_name" default="robot1_tf" />
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  

  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find gazebo_heightmap_preparation)/launch/multiple/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/>
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <arg name="odom_frame_id"   default="$(arg robot_name)/odom"/>
    <arg name="base_frame_id"   default="$(arg robot_name)/base_footprint"/>
    <arg name="scan_topic"      default="/turtlebot1/scan"/>
    <arg name="global_frame_id" default="map"/>
  </include>

  <!-- Move base -->
  <include file="$(find gazebo_heightmap_preparation)/launch/multiple/includes/move_base_test.launch.xml">
    <arg name="odom_frame_id"   default="$(arg robot_name)/odom"/>
    <arg name="base_frame_id"   default="$(arg robot_name)/base_footprint"/>
    <arg name="global_frame_id" default="map"/>
    <arg name="odom_topic" default="/turtlebot1/odom" />
  </include>

</launch>

