<launch>
  <arg name="use_filtering" default="true"/>

  <!-- pgm preparaion params -->
  <arg name="map_filepath"  default="/home/aufarz/Downloads/ANPL_map.pgm"/>
  <arg name="saving_filepath"  default="/home/aufarz/Downloads"/>
  <arg name="offset_x" default="1900"/>
  <arg name="offset_y" default="1900"/>
  <arg name="cropped_width" default="400"/>
  <arg name="cropped_height" default="400"/>

  <!-- turtlebot params -->
	<arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="base"      value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"   value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 --> 
  <arg name="gui" default="true"/>
  <arg name="stacks"    value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons --> 
  <arg name="3d_sensor" value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro --> 
  <arg name="use_ground_truth_for_tf" default="true"/>
  <arg name="use_ground_truth_for_control" default="true"/>
  <arg name="use_pose_estimation" if="$(arg use_ground_truth_for_control)" default="false"/>
  <arg name="use_pose_estimation" unless="$(arg use_ground_truth_for_control)" default="true"/>

  <node pkg="gazebo_heightmap_preparation" type="map_preparing_test_node" name="map_preparing_test_node" args="-f $(arg map_filepath) -s $(arg saving_filepath) -offset $(arg offset_x) $(arg offset_y) -w $(arg cropped_width) -h $(arg cropped_height) "/>

  <node pkg="gazebo_heightmap_preparation" type="world_creator" name="world_creator" args="-f $(arg saving_filepath)/new_map.png"/>

  <include file="$(find gazebo_heightmap_preparation)/launch/turtlebot_heightmap_simulation.launch">
    <arg name="world_file" value="$(arg saving_filepath)/generated_world.world"/>
  </include>
</launch>
